body {
	background-color: #29303B;
	font-family: helvetica;
	color: white;
	font-weight: bold;
}

.tile {
	width: 200px;
	height: 170px;
	margin: 5px;
	padding: 20px;
	float: left;
}

.tile-doble {
	width: 450px;
	height: 170px;
	margin: 5px;
	padding: 20px;
	float: left;
}

.naranja {
	background-color: #F4AF55;
}

.verde {
	background-color: #0FAE9D;
}

.listas li {
	list-style-type: disc;
	list-style-position: inside;
	font-size: 15px;
	font-style: italic;
	font-weight: normal;
	padding: 2px;
}

.listas li a {
	color: white	;
	text-decoration: none;
}

.rojo {
	background-color: #EB674C;
}

.gris {
	color: #29303B;
	background-color: #F6F6F6;
}

.workExperience{
	background-color: #F6F6F6;
	color: #F6F6F6;
	text-shadow: 1px 1px 3px #29303B;
	font-size: 40px;
	text-align: right;
}

.personal-photo {
	background-image: url(personal_photo.jpg);
	font-style: italic;
}

.paragraph a {
	float: left;
	color: #06D755;
	font-size: 50px;
}

#main-container {
	max-width: 1000px;
	min-width: 300px;
	margin: 20px auto;
}

#user-table {
	margin: 10px auto;
	font-weight: normal;
	width: 100%;
}

#user-table th {
	border-bottom: 1px solid #F6F6F6;
	padding: 4px;
	text-align: center;
}

#user-table td {
	font-size: 12px;
	padding: 4px;
	text-align: center;
	padding-left: 8px;
}

#user-table td a {
	text-decoration: none;
}

#user-table td a:link {
	color: white	;
	text-decoration: none;
}

#user-table td a:visited {
	color: white	;
	text-decoration: none;
}

.language {
	font-size: 20px;
	text-align: right;
	color: #29303B;
}

.level {
	font-size: 14px;
	text-align: right;
	color: #29303B;
}

.xp-task {
	font-size: 24px;
	font-style: italic;
	padding: 10px;
}

.xp-text {
	margin-top: 30px;
	font-size: 15px;
	font-weight: normal;
}

.xp-text a {
	text-decoration: none;
}

.xp-text a:visited {
	color: #F6F6F6;
}

.xp-text a:link {
	box-shadow: 2px 2px 3px #E59834;
	color: #F6F6F6;
}

.xp-text a:hover {
	box-shadow: -2px -2px 3px #E59834;
	color: #F6F6F6;
}

.xp-text span {
	font-size: 45px;
	font-weight: bolder;
}

#training {
	width: 201px;
	margin-bottom: 3px;
	padding: 5px;
}

#result {
	width: 183px;
	margin-top: 3px;
	padding: 5px;
}

h2 {
	margin-bottom: 7px;
	font-size: 20px;
}

.nueva-listas li {
	list-style-type: circle;
	list-style-position: inside;
	font-size: 15px;
	padding: 2px;
}

.worktg-photo {
	background-image: url(casino-350.jpg);
}

.workcts-photo {
	background-image: url(network-350.jpg);
}

.workac-photo {
	background-image: url(travel-350.jpg);
}

.worktt-photo {
	background-image: url(code-350.jpg);
}

.back {
	float: right;
	background: #29303B;
	color: white;
	padding: 10px;
	font-size: 50px;
	text-align: center;
	border: none;
	position: fixed;
}